.cards-container-PC {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-PC { 
    display: flex;
    flex: 1;
    box-sizing: border-box;
    border: solid 5px red; 
    width: 100%;
    justify-content: space-around;
    line-height: 100px;
}

.card-info-PC {
    margin: 0;
}