.header-1-SO {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.progress-bar-container-SO {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
}

.progress-bar-text-SO {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.progress-bar-SO {
    display: flex;
    width: 80%;
    border-radius: 40px !important;
    flex-direction: row !important;
    justify-content: left !important;
    background-color: #8E8E8E !important;
    height: 50px !important;
}

.text-style-header-SO {
    color: #000000;
    font-family: Lexend;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}