.navbar {
    background-color: #20375D !important;
    color: white !important;
    position: fixed !important; /* Make the navbar fixed */
    top: 0 !important; /* Align it to the top */
    left: 0 !important; /* Align it to the left */
    width: 100vw !important; /* Full width */
    z-index: 1000; /* Ensure it stays above other content */
}


.navbar-brand, 
.navbar-nav .nav-link, 
.dropdown-item {
    color: white !important;
}

.navbar-nav .nav-link:hover, 
.dropdown-item:hover {
    background-color: grey !important;
}

.dropdown-menu { 
    background-color: #20375D !important;
}

#basic-nav-dropdown .dropdown-item {
    color: white !important;
}