.submit {
    background-color: #d9d9d9;
    box-shadow: 4px 4px 4px #00000040;
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
    
}
.submit {
    background-color: #b0b0b0;
}

.stat {
    width: 500px;
    height: 328px;
    box-shadow: 4px 4px 4px #00000040;
    border-radius: 5px;
}

.day {
    width: 500px;
    height: 280px;
    box-shadow: 4px 4px 4px #00000040;
    border-radius: 5px;
}

.info {
    width: 500px;
    height: 280px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 4px 4px 4px #00000040;
    border-radius: 5px;
}

.heading {
    font-weight: 600;
    margin-top: 10px;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item {
    display: flex;
    flex-direction: column;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
  }

  .form {
    box-shadow: 4px 4px 4px #00000040;
    border-radius: 5px;
    height: 32px;
    width: 500px;
  }