.navbar {
    background-color: #20375D !important;
    color: white !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    z-index: 1000;
}

.navbar-brand, 
.navbar-nav .nav-link, 
.dropdown-item {
    color: white !important;
}

.navbar-nav .nav-link:hover, 
.dropdown-item:hover {
    background-color: grey !important;
}

.dropdown-menu { 
    background-color: #20375D !important;
}

#basic-nav-dropdown .dropdown-item {
    color: white !important;
}