.dash-parent { 
    color: black !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0.9;
}

.dash-header { 
    display: flex;
    justify-content: center;
    font-weight: lighter;
    
}

.welcome h1 { 
    font-weight: lighter;
}
.welcome { 
    display: flex; 
    justify-content: center;
    text-align: center;
}

.grid-parent { 
    justify-content: space-around !important;
    margin: 5rem;
}