 .background {
    background-color: #20375D;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.save-button,
.cancel-button {
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #00000040;
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover,
.cancel-button:hover {
    background-color: #b0b0b0;
}

.logo {
    background-image: url('../assets/SERAPH_ICON.png');
    height: 100vh;
    width: 50vw; 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: left center; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    opacity: 0.1;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 1; 
    color: white; 
    text-align: center;
    padding-top: 50vh; 
}




.export-PDF-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .export-PDF-page .overlap-wrapper {
    background-color: #ffffff;
    height: 1080px;
    width: 1920px;
  }
  
  .export-PDF-page .overlap {
    height: 1080px;
    position: relative;
  }
  
  .export-PDF-page .rectangle {
    background-color: #20375d;
    height: 1077px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 1920px;
  }
  
  .export-PDF-page .div {
    background-color: #20375d;
    border: 1px solid;
    border-color: #ffffff;
    height: 99px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  
  .export-PDF-page .image {
    height: 87px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 86px;
  }
  
  .export-PDF-page .text-wrapper {
    color: #ffffff;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 48px;
    font-weight: 400;
    height: 90px;
    left: 125px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
    width: 302px;
  }
  
  .export-PDF-page .text-wrapper-2 {
    color: #ffffff;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    height: 90px;
    left: 809px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 125px;
    width: 302px;
  }
  
  .export-PDF-page .text-wrapper-3 {
    color: #fffdfd;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 1679px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 34px;
    width: 202px;
  }
  
  .export-PDF-page .rectangle-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 837px;
    left: 632px;
    position: absolute;
    top: 238px;
    width: 655px;
  }
  
  .export-PDF-page .rectangle-3 {
    background-color: #000000;
    border-radius: 10px;
    height: 72px;
    left: 633px;
    opacity: 0.6;
    position: absolute;
    top: 239px;
    width: 654px;
  }
  
  .export-PDF-page .rectangle-4 {
    background-color: #ff0000;
    height: 182px;
    left: 730px;
    position: absolute;
    top: 657px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-5 {
    background-color: #ff7a00;
    height: 196px;
    left: 754px;
    position: absolute;
    top: 643px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-6 {
    background-color: #000000;
    height: 161px;
    left: 709px;
    position: absolute;
    top: 678px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-7 {
    background-color: #0084ff;
    height: 132px;
    left: 777px;
    position: absolute;
    top: 707px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-8 {
    background-color: #42ff00;
    height: 86px;
    left: 799px;
    position: absolute;
    top: 753px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-9 {
    background-color: #ff0000;
    height: 196px;
    left: 1120px;
    position: absolute;
    top: 643px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-10 {
    background-color: #ff7a00;
    height: 216px;
    left: 1142px;
    position: absolute;
    top: 623px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-11 {
    background-color: #000000;
    height: 161px;
    left: 1098px;
    position: absolute;
    top: 678px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-12 {
    background-color: #0084ff;
    height: 182px;
    left: 1164px;
    position: absolute;
    top: 657px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-13 {
    background-color: #42ff00;
    height: 161px;
    left: 1187px;
    position: absolute;
    top: 678px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-14 {
    background-color: #ff0000;
    height: 161px;
    left: 925px;
    position: absolute;
    top: 678px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-15 {
    background-color: #ff7a00;
    height: 182px;
    left: 947px;
    position: absolute;
    top: 657px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-16 {
    background-color: #000000;
    height: 140px;
    left: 904px;
    position: absolute;
    top: 699px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-17 {
    background-color: #0084ff;
    height: 106px;
    left: 970px;
    position: absolute;
    top: 733px;
    width: 15px;
  }
  
  .export-PDF-page .rectangle-18 {
    background-color: #42ff00;
    height: 62px;
    left: 993px;
    position: absolute;
    top: 777px;
    width: 15px;
  }
  
  .export-PDF-page .line {
    height: 3px;
    left: 709px;
    object-fit: cover;
    position: absolute;
    top: 395px;
    width: 493px;
  }
  
  .export-PDF-page .img {
    height: 3px;
    left: 709px;
    object-fit: cover;
    position: absolute;
    top: 407px;
    width: 493px;
  }
  
  .export-PDF-page .line-2 {
    height: 3px;
    left: 709px;
    object-fit: cover;
    position: absolute;
    top: 419px;
    width: 493px;
  }
  
  .export-PDF-page .line-3 {
    height: 3px;
    left: 709px;
    object-fit: cover;
    position: absolute;
    top: 430px;
    width: 493px;
  }
  
  .export-PDF-page .line-4 {
    height: 3px;
    left: 709px;
    object-fit: cover;
    position: absolute;
    top: 440px;
    width: 493px;
  }
  
  .export-PDF-page .line-5 {
    height: 3px;
    left: 709px;
    object-fit: cover;
    position: absolute;
    top: 450px;
    width: 493px;
  }
  
  .export-PDF-page .line-6 {
    height: 3px;
    left: 709px;
    object-fit: cover;
    position: absolute;
    top: 460px;
    width: 493px;
  }
  
  .export-PDF-page .line-7 {
    height: 3px;
    left: 709px;
    object-fit: cover;
    position: absolute;
    top: 473px;
    width: 493px;
  }
  
  .export-PDF-page .text-wrapper-4 {
    color: #000000;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    height: 48px;
    left: 845px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 328px;
    width: 230px;
  }
  
  .export-PDF-page .text-wrapper-5 {
    -webkit-text-stroke: 1px #000000;
    color: #000000;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    height: 70px;
    left: 837px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 519px;
    width: 244px;
  }
  
  .export-PDF-page .text-wrapper-6 {
    color: #000000;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 33px;
    font-weight: 400;
    height: 58px;
    left: 695px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 852px;
    width: 131px;
  }
  
  .export-PDF-page .text-wrapper-7 {
    color: #000000;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 33px;
    font-weight: 400;
    height: 58px;
    left: 892px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 852px;
    width: 131px;
  }
  
  .export-PDF-page .text-wrapper-8 {
    color: #000000;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 33px;
    font-weight: 400;
    height: 58px;
    left: 1087px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 852px;
    width: 131px;
  }
  
  .export-PDF-page .image-2 {
    height: 981px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 99px;
    width: 594px;
  }
  
  .export-PDF-page .group {
    height: 169px;
    left: 1494px;
    position: absolute;
    top: 441px;
    width: 262px;
  }
  
  .export-PDF-page .overlap-group {
    height: 69px;
    left: 0;
    position: absolute;
    top: 0;
    width: 260px;
  }
  
  .export-PDF-page .rectangle-19 {
    background-color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #00000040;
    height: 69px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 259px;
  }
  
  .export-PDF-page .archive-project {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    height: 68px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 260px;
  }
  
  .export-PDF-page .rectangle-20 {
    background-color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #00000040;
    height: 69px;
    left: 1px;
    position: absolute;
    top: 100px;
    width: 259px;
  }
  
  .export-PDF-page .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    height: 31px;
    left: 1581px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 559px;
    width: 88px;
  }
  
  .export-PDF-page .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    height: 30px;
    left: 872px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 259px;
    width: 165px;
  }
   


/* html, body {
    height: 100%;
    margin: 0;
}

.background {
    background-color: #20375D;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo {
    background-image: url('../assets/SERAPH_ICON.png');
    height: 100vh;
    width: 50vw; 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: left center; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    opacity: 0.1;
    z-index: 1;
}

.preview {
    background-image: url('../assets/pdfgeneration.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: #20375D;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

 */