/* body {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
} */

.parent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100vh - 40px); 
  width: calc(100vw - 250px);
  padding: 20px;
  margin-left: 40px;
  margin-top: 40px;
}

.project-card {
  background-color: #a9a9a9;
  border-radius: 10px;
  padding: 10px;
  width: 60%;
  height: 85%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sprint-overview-card {
  background-color: #a9a9a9;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  height: 85%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  line-height: 50px;
}
.sprint-overview-title {
  text-align: center;
  padding-bottom: 30px;
}

.project-info {
  text-align: left;
  padding: auto;
  line-height: 50px;
}

.project-logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.project-title {
  text-align: center;
  font-size: 24px;
  margin: 10px 0;
}

.progress-bar-PV {
  width: 100%;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 120px;
}

.progress-PV {
  width: 50%;
  height: 10px;
  background-color: #00bfff;
}

.sprint-overview-card h2 {
  margin-top: 0;
}

.update-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a9a9a9;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.update-button:hover {
  background-color: #808080;
}

.buttons {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}