body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parent {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.right-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box1,
.box2 {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-info {
  width: 100%;
  text-align: left;
}

.project-title {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

.sprint-overview-title {
  text-align: center;
  margin-bottom: 1rem;
}

.sprint-button {
  width: 100%;
  margin-bottom: 0.5rem;
}

.chart-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 400px;
  overflow: hidden;
}

.chart {
  height: 100%;
}

.update-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.update-button:hover {
  background-color: #0056b3;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
