/* body {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
} */
p {
  font-weight: 400;
}
img {
  height: 100px;
}
h1 {
  position: relative;
  top: -70px;
}

.parent {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: calc(100vh - 40px); 
  width: calc(100vw - 200px);
  padding: 20px;
  margin-left: 30px;
  margin-top: 30px;
  flex-grow: 0;
  
}

.box1 {
  background-color: #a9a9a9;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  height: 85%;
  flex-grow: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-self: start;  
}
.box2 {
  align-self: flex-start;
  background-color: #a9a9a9;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  height: 60%;
  position: absolute;
  right: 100px;
  bottom: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  line-height: 50px;
  align-self: start;  
}
.sprint-overview-title {
  text-align: center;
  padding-bottom: 30px;
}

.project-info {
  text-align: left;
  padding: auto;
  line-height: 50px;
}

.project-logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.project-title {
  text-align: center;
  font-size: 24px;
  margin: 10px 0;
}

.progress-bar-PV {
  width: 100%;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 120px;
}

.progress-PV {
  width: 50%;
  height: 10px;
  background-color: #00bfff;
}

.sprint-overview-card h2 {
  margin-top: 0;
}

.update-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a9a9a9;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 100px;
}

.update-button:hover {
  background-color: #808080;
}

.buttons {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}