.sign-in-parent { 
  display: flex;
  justify-content: center;
}

.content-group { 
  display: flex;
  justify-content: space-around;
}
.header-group { 
  display: flex;
  justify-content: center;
  text-align: center;
}
.form-group { 
  /* margin: 5rem; */
}

.submit-group {
  display: flex;
  justify-content: center; 
  margin: 5rem;
}

.form-control { 
  /* padding: .5rem; */
}