/* body {
    display: block;
} */

.header-1-SO {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.progress-bar-container-SO {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
}

.progress-bar-text-SO {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.progress-bar-SO {
    display: flex;
    width: 80%;
    border-radius: 40px !important;
    flex-direction: row !important;
    justify-content: left !important;
    background-color: #8E8E8E !important;
    height: 50px !important;
}

.flex-container-parent-SO {
    display: flex;
    background-color: #D9D9D9;
    margin: auto;
    padding: 40px;
    width: 80%;
    border-radius: 10px;
}

.flex-container-child-left-SO {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.flex-container-child-left-SO > div {
    background-color: #8E8E8E;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}

.flex-container-child-right-SO {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 30px;
}

.flex-container-child-right-SO > img {
    height: 100%;
}

.text-style-normal-SO {
    color: #000000;
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.text-style-header-SO {
    color: #000000;
    font-family: Lexend;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-style-navbar-SO {
    color: #FFFFFF;
    justify-content: space-around;
    font-family: Lexend;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}