/* .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f8f9fa;
    padding: 20px;
    box-sizing: border-box;
} */

input {
    border-radius: 10px;
    height: 40px;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ced4da;
    font-size: 1rem;

}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    width: 80vw;
    font-size: 1.2rem;
    justify-content: space-evenly;
    padding: 20px;
    background-color: white;
    margin-top: -150px;
    border-radius: 10px;
    box-sizing: border-box;
}

.date {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.box1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.box2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.bottom {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 20px;
    align-items: flex-start;
}

.top {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.title {
    font-size: 2rem;
    color: black;
}

.submitBtn {
    margin-right: 500px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0px;

}

.submitBtn:hover {
    background-color: #0056b3;
}

.Sprinttitle {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 30px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
}

.commitTitle,
.uncommitTitle,
.notesTitle,
.compTitle,
.endTitle,
.startTitle {
    color: black;
    margin-bottom: 5px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: flex-start;
}