* {
    margin: 0;
    padding: 0;
  }
  
  .sign-in {
    background-color: #20375d;
    height: 1080px; 
    width: 1920px;  
    overflow: hidden;
    position: relative;
  }
  
  .overlap-group-wrapper {
    height: 100%; 
    width: 100%;  
    margin: 10px;
  }
  
  .overlap-group {
    height: 100%; 
    width: 100%;
  }
  
  .text-wrapper {
    color: #ffffff;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 150px;
    font-weight: 400;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;  
    text-shadow: 15px 15px 10px #00000040;
    white-space: nowrap;
    width: 840px;
    top: 453px;
  }
  
  .text-wrapper-2, .text-wrapper-3 {
    color: #000000;
    font-family: "Lexend-Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    height: 60px;
    left: 1132px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    z-index: 3;
  }
  
  .text-wrapper-2 {
    top: 471px;
  }
  
  .text-wrapper-3 {
    top: 616px;
  }
  
  .text-wrapper-4, .text-wrapper-5 {
    color: #000000;
    font-family: "Lexend-Light", Helvetica;
    font-size: 48px;
    font-weight: 300;
    height: 60px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    z-index: 3;
  }
  
  .text-wrapper-4 {
    left: 291px;
    top: 675px;
  }
  
  .text-wrapper-5 {
    left: 336px;
    top: 771px;
  }
  
  .rectangle-1 {
    background-color: #ffffff;
    top: 95px;
    bottom: 139px;
    position: absolute; 
    height: 898px;
    right: 105px;
    width: 790px;
    opacity: 0.80;
    border-radius: 30px;
    z-index: 1;
  }
  
  .rectangle-2, .rectangle-3, .rectangle-4, .rectangle-5 {
    position: absolute;
    border-radius: 30px;
    z-index: 2;
    background-color: #D9D9D9;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
  }
  
  .rectangle-2 {
    left: 67px;
    right: 66px;
    top: 356px;
    height: 76px;
  }
  
  .rectangle-3 {
    left: 67px;
    right: 66px;
    top: 501px;
    height: 76px;
  }
  
  .rectangle-4 {
    width: 288px;
    height: 76px;
    left: 260px;
    right: 261px;
    top: 662px;
  }
  
  .rectangle-5 {
    width: 288px;
    height: 76px;
    left: 260px;
    right: 261px;
    top: 761px;
  }
  
  .sign-in .dod_logo {
    height: 254px;
    left: 209px;
    position: absolute;
    top: 51px;
    width: 373px;
    z-index: 3;
  }
  
  .sign-in .seraph_logo {
    width: 1378px;
    height: 1258px;
    overflow: hidden; 
  
    top: -89px; /* 89 pixels above the top of the screen */
    left: -159px; /* 159 pixels off the left of the screen */
    bottom: -89px; /* 89 pixels off the bottom of the screen */
    position: fixed;
    opacity: 0.25;
  }